<div class="outer-div">
    <profile-config [profile]="selectedProfile"></profile-config>
    <div *ngIf="showGrid">
        <ag-grid-ng2 #agGrid style="width: 100%; height: 500px;" class="ag-theme"
                     [gridOptions]="gridOptions"                     
                     [rowData]="rowData"
                     enableColResize
                     enableSorting
                     enableFilter
                     rowSelection="multiple"
                     (cellDoubleClicked)="onCellDoubleClicked($event)"
        >
        </ag-grid-ng2>
    </div>
    <button (click)="startStopService($event, 'start')">Start</button>
    <button (click)="startStopService($event, 'stop')">Stop</button>
    <span>msg: {{debugMessage}}</span>
</div>